.control {
  @apply hover:bg-inherit;
}

.item {
  display: flex;
  flex-direction: column;
  color: rgb(119, 118, 118);
  font: 700;
  font-size: "16px";
  padding-block: "16px";
}
.control {
  padding-block: 24px;
  font-size: "18px";
  /* gap: 16px; */
}

.chevron {
  font-size: "32px";
  color: rgb(119, 118, 118);
}

.label {
  font-size: "18px";
  color: rgb(119, 118, 118);
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
