@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #1fcc4e;
  --primary-200: #b8f678;
  --primary-300: #cbfa78;
  --primary-400: #f9ffee;
  --primary-500: #2e8b57;
  --secondary-100: #191919;
  --secondary-200: #1f2937;
  --secondary-300: #4b5563;
  --tetiary-100: #ee9633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.statistics-gradient {
  background-image: linear-gradient(to left, #533106, #d07806);
}

.movement-gradient {
  background-image: linear-gradient(to left, #bd6c05, #ffd093, #c26f05);
}

.app-scroll::-webkit-scrollbar {
  display: hidden;
}
