@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #1fcc4e;
  --primary-200: #b8f678;
  --primary-300: #cbfa78;
  --primary-400: #f9ffee;
  --primary-500: #2e8b57;
  --primary-600: #efffd2;
  --primary-700: #2a402a;
  --secondary-100: #191919;
  --secondary-200: #1f2937;
  --secondary-300: #4b5563;
  --secondary-400: #42505c;
  --secondary-500: #0d0d0d;
  --tetiary-100: #ee9633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.statistics-gradient {
  background-image: linear-gradient(to left, #533106, #d07806);
}

.movement-gradient {
  background-image: linear-gradient(to left, #bd6c05, #ffd093, #c26f05);
}

.bg-gradient {
  background-image: linear-gradient(to left, #03571a, #000903);
}

.app-scroll::-webkit-scrollbar {
  display: hidden;
}
.PhoneInput > input:focus-within {
  border: none !important;
  outline: none !important;
  display: flex;
}
.PhoneInputInput {
  font-size: 14px;
}

.reverse {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  direction: rtl;
  gap: 26px;
}

/* .PhoneInputCountrySelect {
  width: 20%;
}
.PhoneInputCountryIconImg {
  width: 20%;
}

.PhoneInput {
  display: flex;
}

.PhoneInputCountry {
  display: flex;
}
.PhoneInputCountryIcon {
  width: 50px;
}
.PhoneInputCountryIcon--border {
  width: 50px;
} */
